{% extends "base.html" %}

{% block title %}Home - Fearless Fighter{% endblock %}

{% block content %}
<section id="warrior-gallery">

    <div class="battle-heading">
        <h2>Our Fearless Fighters</h2>
        <p>Choose your fearless warrior</p>
    </div>

    <div class="arena-grid">
        {% for stat in players %}


        <article class="phoenix-box">
            <img src="{{url_for('static', filename=stat.image)}}" alt="Fighter">
            <div class="valor-panel">
                <h3>{{stat.name}}</h3>

                <a href="{{ url_for('details', player_id=stat._id) }}">More Info</a>

            </div>
        </article>

        {% endfor %}
    </div>

</section>
{% endblock %}